[submodule "QtGraphicalEffects"]
	path = QtGraphicalEffects
	url = https://github.com/moodyhunter/qtgraphicaleffects
[submodule "src/PluginInterface"]
	path = src/PluginInterface
	url = https://github.com/moodyhunter/PDPluginInterface.git
[submodule "3rdparty/SingleApplication"]
	path = 3rdparty/SingleApplication
	url = https://github.com/itay-grudev/SingleApplication
[submodule "src/DB/QSQLCipherDriver"]
	path = src/DB/QSQLCipherDriver
	url = https://github.com/moodyhunter/QSQLCipherDriver
